<div class="col s10 offset-s1" >
  <div class="card" id="divExpedientesDC">
    <div class="row">
      <div class="col s8 offset-s1" ><br>
        <label class="card-title">EXPEDIENTE</label>
      </div><br><br>
      <div class="col s10 offset-s1" >
        <div class="col s6 center-align" id="div5responsivo">
          <label class="conseciondatos" >30/10/2019</label><br>
          <label class="conseciontitulo" > Fecha Solicitud </label>
        </div>
        <div class="col s6 center-align" id="div5responsivo">
          <label class="conseciondatos" >FINALIZADO</label><br>
          <label class="conseciontitulo" > Etapa Actual </label>
        </div>
      </div> 
    </div><br>
  </div>
</div>
