<div class="col s10 offset-s1">
  <h5>Municipio: {{Entidad}}</h5>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <ul class="tabs">
      <li class="tab col s5 offset-s1"><a href="#historico"><label class="obConcesionarios">HISTORICO</label></a></li>
      <li class="tab col s5"><a href="#vencidas"><label class="obConcesionarios">CONCESIONES VENCIDAS</label></a></li>
    </ul>
  </div>
</div>
<div id="historico" class="col s12"><br><br>
  <div class="row">
    <div class="col s10 offset-s1">
      <h1>Hola Distrito</h1>

    </div>
  </div><br><br>
</div>
<br><br>
<div id="vencidas" class="col s12">
  <div class="row">
    <div class="col s10 offset-s1">
      <h1>Hola Distrito</h1>
    </div>
  </div>
</div>
