<div class="col s10 offset-s1">
   <p-menubar [model]="itemsMenu"></p-menubar><br>
   <p-tabMenu [model]="items2">
    <ng-template pTemplate="item" let-item let-i="index">
      <div class="center-align" style="position: relative; text-align: center; min-width: 15.7em">
        <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon" style="font-size: 2em"></div>
        <div class="ui-menuitem-text">{{item.label}}</div>
        <a tabindex="0" class="ui-menuitem-icon" (click)="closeItem($event, item.pos,i)" style="position: absolute; right: -1em; top: -.5em; padding: 0" *ngIf="i !== 0">
          <span class="pi pi-times"></span>
        </a>
      </div>
    </ng-template>
  </p-tabMenu><br>
</div>

<div>
	<ng-template #viewContainerRef></ng-template>
</div>
<div class="col s10 offset-s1">

<div class="col s10 offset-s1">
 <div class="ui-g-12 ui-md-4 ui-lg-4 center-align">
   <a pButton type="button" label="TRÁMITES" icon="fa fa-exclamation-circle" class="ui-button-raised ui-button-secondary modal-trigger" href="#tramites"></a>
 </div>
 <div class="ui-g-12 ui-md-4 ui-lg-4 center-align">
   <a pButton type="button" label="INCIDENCIAS" icon="fa fa-exclamation-triangle" class="ui-button-raised ui-button-secondary modal-trigger" href="#incidencias"></a>
 </div>
 <div class="ui-g-12 ui-md-4 ui-lg-4 center-align">
   <button pButton type="button" label="TARJETA INFORMATIVA" icon="fa fa-file-pdf-o" class="ui-button-raised ui-button-secondary" (click)="generaformatoconmakepdf()"></button>
 </div>
</div>
</div>


<div id="tramites" class="modal">
  <app-tramitesModal [IModel]="IModel"></app-tramitesModal>
</div>


<div id="incidencias" class="modal">
  <app-incidenciasModal [IModel]="IModel"></app-incidenciasModal>
</div>
