<div class="col s10 offset-s1">
  <h5>Localidad: {{Entidad}}</h5>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <ul class="tabs">
      <li class="tab col s5"><a href="#historico"><label class="obConcesionarios">HISTORICO</label></a></li>
      <li class="tab col s2"> </li>
      <li class="tab col s5"><a href="#vencidas"><label class="obConcesionarios">CONCESIONES VENCIDAS</label></a></li>
    </ul>
  </div>
</div><br>
<div id="historico" class="col s12"><br><br>
  <div class="row">
    <h1>Hola Region</h1>

  </div>
</div>
<div id="vencidas" class="col s12"><br><br>
  <div class="row">
    <h1>Hola Region</h1>

  </div>
</div>
