<div class="col s10 offset-s1">
  <h5>Municipio: {{Entidad}}</h5>
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <ul class="tabs">
      <li class="tab col s5 offset-s1"><a href="#historico"><label class="obConcesionarios">HISTORICO</label></a></li>
      <li class="tab col s5"><a href="#vencidas"><label class="obConcesionarios">CONCESIONES VENCIDAS</label></a></li>
    </ul>
  </div>
</div>
<div id="historico" class="col s12"><br><br>
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="col s6">
        <app-tarjetaSeleccion [Title]="tituloComponenteModalidad" [ArrayTabla]="modalidades"></app-tarjetaSeleccion>
        <div class="col s12 right-align">
          <h4>Total: 318</h4>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
          <button pButton type="button" icon="fa fa-file-pdf-o" class="ui-button-secondary textPdf" label="PADRON TOTALES"></button>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
          <button pButton type="button" icon="fa fa-file-excel-o" label="PADRON CONCESIONARIOS" class="ui-button-secondary textExcel" ></button><br><br>
        </div>
      </div>
      <div class="col s6 z-depth-1">
        <app-tarjetaSeleccion [Title]="tituloComponenteLocalidad" [ArrayTabla]="localidades"></app-tarjetaSeleccion>
        <div class="ui-g-12 ui-md-12 ui-lg-12 center-align"><br><br>
          <button pButton type="button" icon="fa fa-file-pdf-o" class="ui-button-secondary textPdf" label="PADRON CONCESIONARIOS POR LOCALIDAD"></button>
        </div>
      </div>
    </div>
  </div><br><br>
</div>
<br><br>
<div id="vencidas" class="col s12">
  <div class="row">
    <div class="col s10 offset-s1">
      <div class="col s6">
        <app-tarjetaSeleccion [Title]="tituloComponenteModalidad" [ArrayTabla]="modalidades"></app-tarjetaSeleccion>
        <div class="col s12 right-align">
          <h4>Total: 318</h4>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
          <button pButton type="button" icon="fa fa-file-pdf-o" class="ui-button-secondary textPdf" label="PADRON TOTALES"></button>
        </div>
        <div class="ui-g-12 ui-md-12 ui-lg-6">
          <button pButton type="button" icon="fa fa-file-excel-o" label="PADRON CONCESIONARIOS" class="ui-button-secondary textExcel" ></button><br><br>
        </div>
      </div>
      <div class="col s6 z-depth-1">
        <app-tarjetaSeleccion [Title]="tituloComponenteLocalidad" [ArrayTabla]="localidades"></app-tarjetaSeleccion>
        <div class="ui-g-12 ui-md-12 ui-lg-12 center-align"><br><br>
          <button pButton type="button" icon="fa fa-file-pdf-o" class="ui-button-secondary textPdf" label="PADRON CONCESIONARIOS POR LOCALIDAD"></button>
        </div>
      </div>
    </div>
  </div>
</div>
