<div class="col s10 offset-s1" >
  <div class="card" id="divTarifa">
    <div class="row">
      <div class="col s8 offset-s1" ><br>
        <label class="card-title">Tarifa</label>
      </div><br><br>
      <div class="col s10 offset-s1" >
        <div class="col s6 center-align" id="div5responsivo">
          <label class="conseciondatos" >30/10/2019</label><br>
          <label class="conseciontitulo" > Fecha Relación </label>
        </div>
        <div class="col s6 center-align" id="div5responsivo">
          <label class="conseciondatos" >Plantilla de Santa Maria Huatulco</label><br>
          <label class="conseciontitulo" > Nombre Plantilla </label>
        </div>
      </div>

    </div>
    <br>
  </div>
</div>
