<div class="container">
  <div class="card">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a href="#test1"><label class="obConcesionarios">CONCESIONARIOS</label></a></li>
              <li class="tab col s6"><a href="#test2"><label class="obConcesionarios">LOCALIDADES y MUNICIPIOS</label></a></li>
            </ul>
          </div>
          <div id="test1" class="col s12">
            <!-- Componente de busqueda para concesionarios -->
            <app-search (Ostatus)="check($event)" (Result)="comprobar($event)"></app-search>
            <div class="row">
              <div *ngIf="mostrardetalles">


                <!--
                 <div class="row" *ngIf="this.variablesItemsBooleans[0].value">
                  <app-datosGenerales [IModel]="registroamostrar" ></app-datosGenerales>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[1].value">
                  <app-estatusConcesion [IModel]="registroamostrar"></app-estatusConcesion>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[2].value">
                  <app-datosUbicacion [IModel]="registroamostrar"></app-datosUbicacion>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[3].value">
                  <app-datosTramites [IModel]="registroamostrar"></app-datosTramites>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[4].value">
                  <app-permisoDC [IModel]="registroamostrar"></app-permisoDC>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[5].value">
                  <app-tarifa [IModel]="registroamostrar"></app-tarifa>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[6].value">
                  <app-expedientesDC [IModel]="registroamostrar"></app-expedientesDC>
                </div>
                <div class="row" *ngIf="this.variablesItemsBooleans[7].value">
                  <app-revistaT [IModel]="registroamostrar"></app-revistaT>
                </div>

                -->

                <app-parent [IModel]="registroamostrar"></app-parent>

                <div class="col s8 offset-s3">
                  <div class="ui-g-12 ui-md-6 ui-lg-4 center-align">
                    <button pButton type="button" label="TARJETA INFORMATIVA" icon="fa fa-file-pdf-o" class="ui-button-raised ui-button-secondary" (click)="generaformatoconmakepdf()"></button>
                  </div>
                  <div class="ui-g-12 ui-md-6 ui-lg-4 center-align">
                    <button pButton type="button" label="DESCARGAR REPORTE" icon="fa fa-file-excel-o" class="ui-button-raised ui-button-secondary" (click)="generarexcel()"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="test2" class="col s12">
          <!-- Componente de busqueda para Localidades y Municipios -->
            <app-searchLocalidad (LOstatus)="checkLocalidad($event)" (LResult)="comprobarLocalidad($event)" (TypeSearch)="seleccionarEntidad($event)"></app-searchLocalidad>
            <div class="row">
              <div *ngIf="mostrardetalleslocalidad">
                <!-- Componente de que muestra las opciones de Municipios -->
                <div class="row" *ngIf="optBusquedaEntidad == true">
                  <app-municipioModalidades  [Entidad]="localidadamostrar.municipio" ></app-municipioModalidades>
                </div>
                <!-- Componente de que muestra las opciones de Localidades -->
                <div class="row" *ngIf="optBusquedaEntidad == false">
                  <app-localidadModalidades  [Entidad]="localidadamostrar.localidad"></app-localidadModalidades>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
</div>
